@mixin main-box($the-width){       //プロパティのまとまり
    max-width: 100%;
    width: $the-width;
    margin: 0 auto;
}

/*
変数
$ 変数名　: 値;
*/

/*@extendはあるセレクタと同じプロパティを指定するときに使用
btn{
    display:flex;
    width:90%;
    margin:10px ;
}
.btn-one{
    @extend btn;   これでbtnと同じプロパティが指定される
} 
連結セレクタの時はextendは使用できない
*/

li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
header{
    position: fixed;
    z-index: 10;
    width: 100%;
    margin-bottom: 40px;
    h1{
        font-weight: lighter;
        padding: 10px 20px;
    }
    .inner , .inner-1{
        @include main-box(1100px);
        
    }
    .inner-1{
        background-color: white;
    }
    nav{
        background-color:#333333 ;
    }
    nav ul{
        width:470px;
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
    }
    nav ul li{
        color:white ;
    }
}
.pick-up{
    @include main-box(1100px);
    padding-top: 150px;
    margin-bottom: 160px;
    ul{
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 32%;
        p{
            margin-top: 10px;
        }
        .read{
            text-align: center;
            font-size: 14px;
            a{
                position: relative;
                padding-bottom: 2px;
                &::after{
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    background: #333333;
                    transition: all  200ms ease; /*これがないとすぐに消えるように見えてしまう*/
                }
                &:hover::after{
                    opacity: 0;
                    transform: translateY(3px);
                }
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
    }
}
.wrapper{
    @include main-box(1100px);
    display: flex;
    justify-content: space-between;
    .inner{
        width: 70%;
    }
    article{
        width: 100%;
        margin-bottom: 80px;
        img{
            width: 100%;
        }
        p{
            width: 80%;
            margin: 0 auto 30px;
        }
        .read{
           /* @extend .pick-up.read; 連結セレクタの時は@extendは使用できない*/
           text-align: center;
           font-size: 14px;
        }
    }
    aside{
        width: 27%;
        margin-bottom: 120px;
        .profile{
            width: 100%;
            text-align: center;
            margin-bottom: 60px;
            img{
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius:50%;
            }
            h3{
                margin: 30px 0;
            }
            p{
                text-align: left;
            }
        }
        .rank{
            width: 100%;
            h3{
                text-align: center;
                margin-bottom: 30px;
            }
            ul li{
                margin-bottom: 30px;
            }
            ul li img{
                width: 100%;
            }
        }
        .archive{
            h3{
                text-align: center;
                margin-bottom: 30px;
            }
            li{
                padding: 20px;
                font-size: 14px;
                border-top: 1px solid black;
                &:last-child{
                    border-bottom: 1px solid black;
                }
            }
        }
    }

}
footer{
    background-color: #F7F7F7;
    .inner{
        @include main-box(1100px);
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        h3{
            text-align: center;
            margin-bottom: 30px;
        }
        .about{
            width: 30%;
            p{
                margin-bottom: 20px;
            }
            .arrow{
                position: relative;
                display: inline-block;
                padding-left: 12px;
                text-decoration: none;
                &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 0 6px 8px;
                    border-color: transparent transparent transparent #333333;
                    position: absolute;
                    top:50%;
                    left: 0;
                    margin-top: -6px;
                }
            }
        }
        .menu{
            width: 30%;
            li{
                padding: 15px;
                border-top: 1px solid black;
                &:last-child{
                    border-bottom: 1px solid black;
                }
            }
        }
        .instagram{
            width: 30%;
            height: 350px;
            blockquote{
                width: 100%;
                height: 80%;
                overflow-y: scroll;
                // 記事にwidthとheightを指定することで記事のみスクロールできるようにする
            }
        }
    }
    small p{
        text-align: center;
    }
}



@mixin  media-box {
    width: 100%;
    padding: 0 20px;
}



@media screen and (max-width:764px) {
    .pick-up{
        @include media-box;
        ul{
        flex-direction: column;
        }
        li{
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .wrapper{
        flex-direction: column;
        
        .inner{
            @include media-box;
        }
        aside{
            @include media-box;
        }
    }
    footer{
        .inner{
            @include media-box;
            flex-direction: column;
            .about{
                width: 100%;
                margin-top: 60px;
                margin-bottom: 30px;
            }
            .menu{
               width: 100%;
               margin-bottom: 30px;
            }
            .instagram{
                width: 80%;
                margin: 0 auto;
                blockquote{
                   display: inline-block;
                   margin: 0 auto;
                }
            }
        }
    }
}