@charset "UTF-8";
/*
変数
$ 変数名　: 値;
*/
/*@extendはあるセレクタと同じプロパティを指定するときに使用
btn{
    display:flex;
    width:90%;
    margin:10px ;
}
.btn-one{
    @extend btn;   これでbtnと同じプロパティが指定される
} 
連結セレクタの時はextendは使用できない
*/
li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-bottom: 40px;
}
header h1 {
  font-weight: lighter;
  padding: 10px 20px;
}
header .inner, header .inner-1 {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto;
}
header .inner-1 {
  background-color: white;
}
header nav {
  background-color: #333333;
}
header nav ul {
  width: 470px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
header nav ul li {
  color: white;
}

.pick-up {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto;
  padding-top: 150px;
  margin-bottom: 160px;
}
.pick-up ul {
  display: flex;
  justify-content: space-between;
}
.pick-up li {
  width: 32%;
}
.pick-up li p {
  margin-top: 10px;
}
.pick-up li .read {
  text-align: center;
  font-size: 14px;
}
.pick-up li .read a {
  position: relative;
  padding-bottom: 2px;
}
.pick-up li .read a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333333;
  transition: all 200ms ease; /*これがないとすぐに消えるように見えてしまう*/
}
.pick-up li .read a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}
.pick-up img {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wrapper .inner {
  width: 70%;
}
.wrapper article {
  width: 100%;
  margin-bottom: 80px;
}
.wrapper article img {
  width: 100%;
}
.wrapper article p {
  width: 80%;
  margin: 0 auto 30px;
}
.wrapper article .read {
  /* @extend .pick-up.read; 連結セレクタの時は@extendは使用できない*/
  text-align: center;
  font-size: 14px;
}
.wrapper aside {
  width: 27%;
  margin-bottom: 120px;
}
.wrapper aside .profile {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.wrapper aside .profile img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.wrapper aside .profile h3 {
  margin: 30px 0;
}
.wrapper aside .profile p {
  text-align: left;
}
.wrapper aside .rank {
  width: 100%;
}
.wrapper aside .rank h3 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper aside .rank ul li {
  margin-bottom: 30px;
}
.wrapper aside .rank ul li img {
  width: 100%;
}
.wrapper aside .archive h3 {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper aside .archive li {
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid black;
}
.wrapper aside .archive li:last-child {
  border-bottom: 1px solid black;
}

footer {
  background-color: #F7F7F7;
}
footer .inner {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
footer .inner h3 {
  text-align: center;
  margin-bottom: 30px;
}
footer .inner .about {
  width: 30%;
}
footer .inner .about p {
  margin-bottom: 20px;
}
footer .inner .about .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  text-decoration: none;
}
footer .inner .about .arrow:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #333333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}
footer .inner .menu {
  width: 30%;
}
footer .inner .menu li {
  padding: 15px;
  border-top: 1px solid black;
}
footer .inner .menu li:last-child {
  border-bottom: 1px solid black;
}
footer .inner .instagram {
  width: 30%;
  height: 350px;
}
footer .inner .instagram blockquote {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
footer small p {
  text-align: center;
}

@media screen and (max-width: 764px) {
  .pick-up {
    width: 100%;
    padding: 0 20px;
  }
  .pick-up ul {
    flex-direction: column;
  }
  .pick-up li {
    width: 100%;
    margin-bottom: 30px;
  }
  .wrapper {
    flex-direction: column;
  }
  .wrapper .inner {
    width: 100%;
    padding: 0 20px;
  }
  .wrapper aside {
    width: 100%;
    padding: 0 20px;
  }
  footer .inner {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
  }
  footer .inner .about {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  footer .inner .menu {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .inner .instagram {
    width: 80%;
    margin: 0 auto;
  }
  footer .inner .instagram blockquote {
    display: inline-block;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */